@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}
/* vollkorn-700italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Vollkorn";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/vollkorn-v23-latin-700italic.woff2") format("woff2"), url("../fonts/vollkorn-v23-latin-700italic.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
hr,
body,
html {
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

body {
  position: relative;
}

.bg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image {
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.head {
  margin-top: 35px;
}

.head__container {
  border-radius: 9px;
  position: relative;
  margin-bottom: 30px;
}
.head__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;
  background: linear-gradient(rgba(115, 93, 84, 0.5), rgba(115, 93, 84, 0.5));
  filter: blur(2px);
}

.menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #f6f6f6;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu li {
  padding: 10px;
}

.menu a {
  text-decoration: none;
  color: #5f5f5f;
  font-size: 15px;
  font-weight: 400;
  font-family: "Montserrat";
}

.menu-open {
  left: 0;
}

.menu-button {
  cursor: pointer;
  margin-left: 20px;
}

.menu-icon {
  color: #5f5f5f;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Overlay background color and opacity */
  display: none;
  z-index: 99;
}

.menu-open + .menu-overlay {
  display: block;
}

.close-button {
  cursor: pointer;
  font-size: 24px;
  color: black;
  position: absolute;
  top: 10px;
  right: 10px;
  /* Adjust the right position */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(248, 248, 248, 0.145);
  -webkit-backdrop-filter: blur(20px) brightness(110%);
  backdrop-filter: blur(20px) brightness(110%);
  color: #fff;
  z-index: 100;
  padding: 5px 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navbar__btn {
  background: 0 0;
  border: none;
  cursor: pointer;
  margin-right: 20px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  margin: 50% auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  font-family: Montserrat;
  width: 50%;
  text-align: center;
}

.modal-button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  outline: none;
  background: none;
  background-color: #412501;
  color: #fff;
}

.navbar__logo {
  font-size: 20px;
  color: #fff;
  font-family: Montserrat;
}

.arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: calc(50% + 220px);
  transform: rotate(0deg);
  cursor: pointer;
  margin-top: 70px;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}
.hero {
  height: 80vh;
}
.hero__subheader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__body {
  color: #423D37;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 142px;
  width: 100%;
  margin-bottom: 55px;
}
.hero__container {
  position: relative;
  background-image: url("../../img/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 55px;
  margin-bottom: 35px;
  padding-bottom: 40px;
  height: 80vh;
  border-radius: 11px;
}
.hero__header {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 0px 6.8px #FFF, 0px 0px 6.2px rgba(255, 255, 255, 0.7), 0px 0px 4px rgba(255, 255, 255, 0.25), 0px 0px 4px rgba(255, 255, 255, 0.25), 0px 0px 4px rgba(115, 93, 84, 0.67);
  font-family: "Montserrat";
  font-size: 55px;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 55px;
}
.hero__subheader {
  color: #423D37;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 250px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 10px;
}
.hero__dec {
  font-weight: 600;
}
.hero__time {
  color: #FFF;
  text-shadow: 0px 0px 4.8px rgba(255, 255, 255, 0.25);
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 121.429%;
  max-width: 160px;
  width: 100%;
  padding-bottom: 20px;
}
.hero__book {
  color: #423D37;
  font-family: "Montserrat";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 300px;
  width: 100%;
}
@media screen and (max-width: 425px) {
  .hero__header {
    font-size: 50px;
  }
}
@media screen and (max-width: 405px) {
  .hero__header {
    font-size: 40px;
  }
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 60px;
}
.date__exact-time {
  color: #412501;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.18px;
}
.date__calendar {
  max-width: 700px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.date__date-number {
  color: #412501;
  text-align: center;
  font-family: Georgia;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}
.date__footer {
  margin-bottom: 10px;
}
.date__img {
  margin-top: 30px;
}
.date__item {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
}
.date__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.date__month-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 22px;
  width: 100%;
}
.date__week {
  color: #412501;
  text-align: center;
  font-family: Georgia;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.96px;
}
.date__week-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}
.date__year {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.16px;
}
@media screen and (max-width: 405px) {
  .date__week {
    font-size: 25px;
  }
  .date__date-number {
    font-size: 45px;
  }
}

.program {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.program__body {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 270px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}
.program__header {
  color: #412501;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.program__img {
  margin-right: 5px;
}
.program__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 17px;
}
.program__item-body {
  color: #FFF;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 230px;
  width: 100%;
}
.program__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.program__subheader {
  color: #412501;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}
@media screen and (max-width: 405px) {
  .program__item-body {
    font-size: 16px;
  }
}

.map {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.map__adres {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.map__btn {
  border: none;
  outline: none;
  background: none;
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 4px 5px;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 25px;
}
.map__header {
  color: #412501;
  text-align: center;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.31);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 11px;
}
.map__hilton {
  max-width: 200px;
  width: 100%;
  margin-bottom: 10px;
}
.map__iframe {
  max-width: 400px;
  height: 200px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}
.map__subheader {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 11px;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}
.link__body {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
  max-width: 300px;
  width: 100%;
}
.link__header {
  color: #412501;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 15px;
}
.link__social-link {
  position: relative;
}
.link__social-link::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.link__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}
.time__body {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.time__header {
  color: #412501;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 15px;
  margin-bottom: 15px;
}
.time__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.time__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 27px;
}
.time__subheader {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 260px;
  width: 100%;
  margin-bottom: 10px;
}
.time__time {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
  margin-bottom: 2px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.footer__brand-link {
  color: #FFF;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.16px;
  margin-bottom: 10px;
}
.footer__line {
  max-width: 235px;
  width: 100%;
  margin-bottom: 10px;
}
.footer__logo-link {
  width: 40px;
  margin-bottom: 40px;
}/*# sourceMappingURL=main.css.map */